.top {
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: #a52a2a;
  border: 2px solid #800000;
  margin: 0px;
}

article {
  display: block;
  position: relative;
  height: 1000px;
  width: 100%;
  background-color: #f1e9d2;
  border: 2px solid #800000;
  margin: 0px;
}

.title {
  text-align: center;
  font-size: 32px;
  font-family: times new roman;
  font-style: italic;
  color: #800000;
  margin-bottom: 0px;
}

.date {
  text-align: center;
  font-size: 16px;
  font-family: times new roman;
  font-style: italic;
  color: #800000;
}

hr {
  display: block;
  border-top: 2px solid #800000;
}

p {
  text-align: left;
  font-size: 16px;
  font-family: times new roman;
  margin: 3%;
  word-wrap: break-word
}
